USE [master]
GO
/****** Object:  Database [DBMoneyExchange]    Script Date: 18/02/2020 1:28:34 ******/
CREATE DATABASE [DBMoneyExchange]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBMoneyExchange].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBMoneyExchange]
GO
USE [DBMoneyExchange]
GO
/****** Object:  Table [dbo].[CURRENCY]    Script Date: 18/02/2020 1:28:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURRENCY](
	[CUR_id] [int] NOT NULL,
	[CUR_simbol] [varchar](5) NOT NULL,
	[CUR_description] [varchar](100) NOT NULL,
	[CUR_islocal] [bit] NOT NULL,
	[CUR_relation] [float] NOT NULL,
	[CUR_status] [bit] NOT NULL,
 CONSTRAINT [PK_CURRENCY] PRIMARY KEY CLUSTERED 
(
	[CUR_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CURRENCY_RATE]    Script Date: 18/02/2020 1:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURRENCY_RATE](
	[CRR_dateRate] [datetime] NOT NULL,
	[CRR_currencyFrom] [int] NOT NULL,
	[CRR_currencyTo] [int] NOT NULL,
	[CRR_exchangeRate] [float] NOT NULL,
 CONSTRAINT [PK_CURRENCY_RATE] PRIMARY KEY CLUSTERED 
(
	[CRR_dateRate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 18/02/2020 1:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[USP_id] [int] IDENTITY(1,1) NOT NULL,
	[USP_firstname] [varchar](100) NOT NULL,
	[USP_lastname] [varchar](100) NOT NULL,
	[USP_email] [varchar](250) NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[USP_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ACCOUNT]    Script Date: 18/02/2020 1:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ACCOUNT](
	[USP_id] [int] NOT NULL,
	[USA_username] [varchar](30) NOT NULL,
	[USA_password] [varchar](250) NOT NULL,
	[USA_password_hash] [varchar](250) NULL,
	[USA_password_salt] [varchar](250) NULL,
 CONSTRAINT [PK_USER_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[USP_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CURRENCY] ([CUR_id], [CUR_simbol], [CUR_description], [CUR_islocal], [CUR_relation], [CUR_status]) VALUES (1, N'USD', N'Dollars', 1, 1, 1)
INSERT [dbo].[CURRENCY] ([CUR_id], [CUR_simbol], [CUR_description], [CUR_islocal], [CUR_relation], [CUR_status]) VALUES (2, N'EUR', N'Euros', 0, 0.9226, 1)
INSERT [dbo].[CURRENCY] ([CUR_id], [CUR_simbol], [CUR_description], [CUR_islocal], [CUR_relation], [CUR_status]) VALUES (3, N'JPY', N'Yen', 0, 109.7918, 1)
INSERT [dbo].[CURRENCY_RATE] ([CRR_dateRate], [CRR_currencyFrom], [CRR_currencyTo], [CRR_exchangeRate]) VALUES (CAST(N'2020-02-16T12:54:37.940' AS DateTime), 1, 2, 0.9563)
SET IDENTITY_INSERT [dbo].[USER] ON 

INSERT [dbo].[USER] ([USP_id], [USP_firstname], [USP_lastname], [USP_email]) VALUES (1, N'Cesar', N'Braco', N'cesarbraco_l@hotmail.com')
SET IDENTITY_INSERT [dbo].[USER] OFF
INSERT [dbo].[USER_ACCOUNT] ([USP_id], [USA_username], [USA_password], [USA_password_hash], [USA_password_salt]) VALUES (1, N'cesarbraco_l@hotmail.com', N'36f563cf65a05eac6293959513d4bf21', NULL, NULL)
ALTER TABLE [dbo].[CURRENCY_RATE]  WITH CHECK ADD  CONSTRAINT [FK_CURRENCY_RATE_CURRENCY_FROM] FOREIGN KEY([CRR_currencyFrom])
REFERENCES [dbo].[CURRENCY] ([CUR_id])
GO
ALTER TABLE [dbo].[CURRENCY_RATE] CHECK CONSTRAINT [FK_CURRENCY_RATE_CURRENCY_FROM]
GO
ALTER TABLE [dbo].[CURRENCY_RATE]  WITH CHECK ADD  CONSTRAINT [FK_CURRENCY_RATE_CURRENCY_TO] FOREIGN KEY([CRR_currencyTo])
REFERENCES [dbo].[CURRENCY] ([CUR_id])
GO
ALTER TABLE [dbo].[CURRENCY_RATE] CHECK CONSTRAINT [FK_CURRENCY_RATE_CURRENCY_TO]
GO
ALTER TABLE [dbo].[USER_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_USER_ACCOUNT_USER] FOREIGN KEY([USP_id])
REFERENCES [dbo].[USER] ([USP_id])
GO
ALTER TABLE [dbo].[USER_ACCOUNT] CHECK CONSTRAINT [FK_USER_ACCOUNT_USER]
GO
USE [master]
GO
